@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");

body {
  background-color: #f8f9fa;
  color: #212529;
  font-family: "Lexend", sans-serif;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 3.125rem;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #e0e0e0;
  }
}
