@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");

body {
  background-color: #232323;
  color: #e0e0e0;
  font-family: "Lexend", sans-serif;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 3.125rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

p {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  line-height: 1.75rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
  line-height: 2rem;
  padding-left: 1.125rem;
}

a {
  color: #e0e0e0;
  text-decoration: none;
  border-bottom: 0.125rem solid #e0e0e0;
}

a:hover {
  color: #e0e0e0;
  border-bottom: 0.125rem solid #ffa500;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #232323;
    color: #e0e0e0;
  }

  a {
    color: #e0e0e0;
    border-bottom: 0.125rem solid #e0e0e0;
  }

  a:hover {
    color: #e0e0e0;
    border-bottom: 0.125rem solid #ffa500;
  }
}
